#premio{ 
    display: none;
}

 
body{
    background-color: #ecebef;
     
}

 *{
     margin: 0;
     padding:0;      
       /* font-family: Helvetica Neue; */
    
        
    }

 .main,footer,aside{
   
    width: 90%;
    margin: 20px auto;
    max-width: 1000px;
}
header{
     width: 90%;
    margin: auto;
    max-width: 1000px;
}  
.menu{

    width:100%;
    background: #000;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.menu li{
    display: inline-block;
}
 

.menu li a{
    padding: 10px 50px;
    color:white;
    display: inline-block;
    text-decoration: none;
}
.menu li a:hover{
    background:#ccc;
    color:#000;
    text-decoration: none;
}
.main .articles{
    width: 68%;
    float: left;
    margin-right: 1.5%;
 
}

.verticket{
    width: 100%;
    float: left;
    
    background: white;
    border-radius: 25%;

}
.main .articles article{
    padding: 40px;
    background: white;
    /*Es como un espacio etnre los elementos */margin-bottom: 4px;
}

p{
    /*font-size: 15px;*/

    text-align: justify;
} 

.ImgCan{
    height:auto;
    width:70%;
    height: 25%;
   padding: 0.5%;
  margin-top: 75%; 
  padding-left: 5%;
  
}


aside{
    width: 30%;
    background: white;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
footer{
    background:black;
    color: #fff;
    clear: both;
    text-align: center;
    padding: 10px 20px;
    /* limpia los float y una separacion o salto de linea */
}

a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;


    display: inline-block;
   
   }

   a h3{
       color:red;
   }




   /*//////////////////////////////////*/
   
 header nav{
    overflow: hidden;
    background: #000;
}

header nav ul{

    list-style: none;
 
}

header nav ul li{

    list-style: none;
    float: left;
 
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color:#fff;
    text-decoration: none;
}
header nav ul li a:hover{
 background: rgb(4, 8, 8);

}


#datos{ 
    display: none;
}

.formgreen{
    width: 100%;
    border-right:solid 10px #000;
    padding:10%;
    align-items:center;
    justify-content:center;    
    background:green;
    
}

.formwhite{
    width: 100%;
    border-right:solid 10px #000;
    padding:20%;
    align-items:center;
    justify-content:center;    
    background:white;
    
}

label{
    font-size: 12px;
    display: block;
    width: 100%;
    color:#fff;
}

input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #ccc;
      border-radius: 10px;
      text-align:center;
 
 
}

textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #ccc;
      
 
}




input:focus,textarea:focus{
    border:5px solid #090d11;
}
 
.inputa
{ 
    width:100%;
     float: center;
     border:none;
    margin-bottom:5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     margin: 10px 5px 10px 5px;
  
}

#index{
    width:67%;
}
.formularios
{    

    width:30%;
     float: center;
     border:none;
    margin-bottom:5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     margin: 10px 5px 10px 5px;
  
}

.rojos
{    
  
    width:30%;
     float: center;
     border:none;
margin-left: 30%;
margin-top: 3%;
 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   
  
}

input[type="submit"]:hover
{
  
    
    cursor:pointer;
}     

.instructions{
    display: table-cell;
  
}
.cajas{
    width: 40%;
    color: #000;;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: white;
    
     float:  left; /* esto nos posiciona todas las cajas hacia la izquierda */
     
}
.candado{

    width:40%;
    background: gainsboro;
    text-align: justify;

    margin-bottom: 5%;
    margin-top: 5%;
    color:#000;
    padding-right: 3%;
 
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    text-align: center;
    display: inline-flex;
}

.eta{

    text-decoration: none;
    font-size: 15px;
    hyphens: none;
    letter-spacing: normal;
    text-align: justify;
}

.eta:hover{
    text-decoration: none;
    font-size: 15px;

    text-align: justify;
 

}



.cajota{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom:8%;
    margin-top: 8%;
    width: 95%;
    height:90%;

    
     float: left;
  
     border: 5px solid #000;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   
 
   
}



ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.clear {
    clear: both;
    height: 1px;
    visibility: none;
}


div{

    display: block;
}

.subtexto{
width:85%;
/*font-size: 15px;*/
    text-align: justify;
    
    line-height: 1.231;
} 


.imgheader{
    height:auto;
    width: 10%;
    margin:10px ;
 
     
     
      }